# Récupération et nettoyage des données du modèle

In [1]:
import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt 
import statistics

In [2]:
path1 = '/Users/geoffroyperonne/Desktop/Hashrate.csv'
path2 = '/Users/geoffroyperonne/Desktop/cours.csv'

In [3]:
df1 = pd.read_csv(path1,sep=';') 
df2 = pd.read_csv(path2,sep=';')

In [4]:
df1=df1.join(df1['DateTime'].str.split(' ',expand=True).rename(columns={0:'Date',1:'inutile',2:'Hashrate'}))
df1=df1.drop(['DateTime','inutile'],axis=1)
df2=df2.drop(['Ouv.','Plus Haut','Plus Bas','Vol.','Variation %'],axis=1)

In [5]:
df1['Date'] = pd.to_datetime(df1['Date'])
df2['Date'] = pd.to_datetime(df2['Date'])

In [6]:
df2['Dernier']=df2['Dernier'].replace('.','')

In [7]:
def nettoyer1(x):
    return(float(x.replace(',','.')))

def nettoyer2(x):
    return(float((x.replace('.','')).replace(',','.')))

def string(x):
    return(str(x))

def entier(x):
    return(int(x))

In [8]:
df1['Hash Rate']=df1['Hash Rate'].apply(nettoyer1)
df2['Dernier']=df2['Dernier'].apply(nettoyer2)

In [9]:
df=df1.merge(df2)
df=df.assign(BTC=0)

In [10]:
for i in range(575):
    df['BTC'][i]=3600

for i in range(575,2035):
    df['BTC'][i]=1800
    
for i in range(2035,2557):
    df['BTC'][i]=900

<ipython-input-10-5bf19dc8d0d1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BTC'][i]=3600
<ipython-input-10-5bf19dc8d0d1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BTC'][i]=1800
<ipython-input-10-5bf19dc8d0d1>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BTC'][i]=900

In [11]:
df=df.assign(Seuil=(df['BTC']*df['Dernier'])/(0.1*24)/(df['Hash Rate']*10**(-12)))

In [13]:
df['Seuil']=df['Seuil'].rolling(50).mean()

In [14]:
df

         Hash Rate       Date  Dernier   BTC     Seuil
0     3.333450e+17 2015-01-01    314.9  3600       NaN
1     3.333450e+17 2015-01-02    225.3  3600       NaN
2     3.272842e+17 2015-01-03    257.9  3600       NaN
3     3.474869e+17 2015-01-04    246.2  3600       NaN
4     3.151626e+17 2015-01-05    233.2  3600       NaN
...            ...        ...      ...   ...       ...
2552  1.785745e+20 2021-12-27  50678.2   900  0.118343
2553  1.616823e+20 2021-12-28  47545.2   900  0.118197
2554  1.749547e+20 2021-12-29  46461.7   900  0.118119
2555  1.435835e+20 2021-12-30  47123.3   900  0.117894
2556  1.797810e+20 2021-12-31  47179.5   900  0.117005

[2557 rows x 5 columns]